.header {
    font-family: 'Do Hyeon', sans-serif;
}

.intro {
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
}

.introImage {
    flex: 0;
}

.introMessage {
    margin-left: 30px;
    font-size: 23pt;
    flex: 1;
}

.movie {
    display: flex;
    float: left;
    font-size: 23pt;
    font-family: 'Do Hyeon', sans-serif;
}


.moviePoster {
    margin: 15px;
    text-align: center;
}

.guestBook {
    clear: both;
    font-family: 'Do Hyeon', sans-serif;
}

.guest {
    font-size: 23pt;
}

.checkmovie {
    zoom: 2.0;
}

.button {
    zoom: 2.0;
    font-family: 'Do Hyeon', sans-serif;
}