body {
    background-color: rgb(214, 243, 233);
}

.header {
    font-family: 'Do Hyeon', sans-serif;
}

.intro {
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
}

.introImage {
    flex: 0;
}

.introMessage {
    margin-left: 30px;
    font-size: 23pt;
    flex: 1;
}

table {
    /* border-top: 5px solid rgb(82, 136, 118); */
    border-top: 5px solid azure;
    font-size: 23pt;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    margin: 15px;
    border-collapse: collapse;
}

td {
    border-bottom: 5px solid azure;
    border-left: 5px solid azure;
    padding: 10px;
  }

td:first-child {
    border-left: 0px;
}

.guestBook {
    flex: 2;
    margin-left: 30px;
    font-family: 'Do Hyeon', sans-serif;
}

.guest {
    font-size: 23pt;
}

.checkmovie {
    zoom: 2.0;
    accent-color: black;    
}

.button {
    zoom: 2.2;
    font-family: 'Do Hyeon', sans-serif;
    background-color: rgb(213, 250, 255);
}

.result {
    font-size: 23pt;
}